.CartListItemContainer{
    display: flex;
    justify-content: center;
    /* font-family: 'Brandon Grotesque Regular', sans-serif; */
    font-family: 'Overlock', cursive;
}

.CartListItem{
    display: flex;
    /* flex-direction: column; 
    min-width: 30rem;*/
    justify-content: center;
}

.CartListItemDetail{
    display: flex;
    justify-content: space-evenly;
}

.CartListItemTotal{
    justify-content: center;
    min-width: 30rem;
}

.CartListItemTotalLeft{
    min-width: 21.1rem;
    text-align: right;
}

.CartListItemTotalRight{
    min-width: 7rem;
} 

.CartListItemDeleteBtn{
    width: 3rem;
    padding: .5rem;
    text-align: center;
}

.EmptyCartDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#EmptyCartBtn{
    color: #c0392b;
    border-color: #c0392b;
}

#EmptyCartBtn:hover{
    color: white;
    background-color: #c0392b;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}