

.ItemDetailImage{
    display: flex;
    justify-self: center;
    /* max-width: 10rem; */
    max-height: 40rem;
    align-self: center;
}

.ItemDetailSizes{
    display: flex;
    flex-direction: column;
}

.btn.btn-light{
    border-radius: 2rem;
}

.ItemDetailCart{
    display: flex;
    flex-direction: row;
}

.SizeBtnGroup{
    margin-top: .5rem;
}

#ItemDetailCartBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ItemDetailAddToFavs{
    margin-top: .5rem;
    max-width: 9.5rem;
}


#ItemDetailAddToFavs{
    display: flex;
    background: #91261a;
    width: 100%;
    min-width: fit-content;
    padding: .3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.6rem;
}

#ItemDetailAddToFavs:hover{
    background: #c0392b;
    color: white;
}

#ItemDetailGoToCartBtn{
    margin-top: .5rem;
    max-width: 9.5rem;
}

@media(min-width:855px){
    .DetailsContainer{
        display: flex;
        flex: 1 1 auto;
    }

    #ItemDetailCartBtn{
        justify-content: flex-start;
        align-items:flex-start
    }
}

@media(max-width:855px){
    .ItemDetailImageContainer{
        display: flex;
        justify-content: center;
    }
}