.card.ItemCardContainer{ 
    width: 18rem;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ItemCardTitle{
    display:flex;
    justify-content: center;
    margin-top: -1rem;
}

.ItemCardPrice{
    display:flex;
    justify-content: center;
    margin-top: 0.3rem;
}