.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Brandon Grotesque Regular', sans-serif;
}

.greeting{
    display: flex; 
    margin-top: .5rem; 
    justify-content: space-around; 
    text-align: center;
    font-size: 2rem;
}
