.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.greeting{
    display: flex; 
    margin: .375rem; 
    justify-content: space-around; 
    text-align: center;
}
