 html{
  /* font-family: "Roboto", Sans-serif; */
  /* font-family: 'Brandon Grotesque Regular', sans-serif; */
  font-family: 'Overlock', cursive;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: inherit;
  min-height: 49rem;
  /* font-family: 'Brandon Grotesque Regular', sans-serif; */
  font-family: 'Overlock', cursive;
}

#logo{
  flex: 1 2 100%;
  max-width: 100%;
  height: auto;
  justify-content: space-around; 
  align-items: center;
}