 html{
  font-family: "Roboto", Sans-serif;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: inherit;
  min-height: 49rem;
}

#logo{
  flex: 1 2 100%;
  max-width: 100%;
  height: auto;
  justify-content: space-around; 
  align-items: center;
}