#navbar, #inicio { 
    background-color: #c0392b; 
    color:rgb(255, 255, 255);
    vertical-align: middle;
}
  
#basic-navbar-nav {
    vertical-align: middle;
    align-items: center;
}

#nav-right{
    justify-content: space-between;
}

#navbar-search{
    flex-wrap: nowrap;
    margin-right: 1rem;
}

a, .navbar-nav, .navbar-light .nav-link {
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    justify-content: space-evenly;
}

/* .NavDropDown{
    background-color: #c0392b; 
    /* color:rgb(255, 255, 255); 
} */

div.dropdown-menu.show {
    background-color: #c0392b;
}
a.dropdown-item {
    color: white;  
}

.dropdown-item:active{
    background-color: #75231a!important;
}

#CartBadge{
    float: right;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-bottom: -3rem;
}