.ItemCountContainer{
    display: flex;
    /* margin-left: 1rem; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.ItemCountBtnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* margin-top: 0.01rem; */
}

.number{
    text-align: center;
    width: 6.5rem;
    outline: none;
    border-top: 1rem thin;
    border-bottom: 1rem thin ;
    cursor: default;
}

.ItemCountDecreaseBtn{
    background:#c0392b;
    color: white;
    /* height: 1.5rem; */
    min-width: 1.5rem; 
    outline: none;
    border: none;
    padding: 0;
    align-items: center;
    border-radius: 0.6rem 0 0 0.6rem;
}

.ItemCountIncreaseBtn{
    background:#c0392b;
    color: white;
    /* height: 1.5rem; */
    min-width: 1.5rem; 
    outline: none;
    border: none;
    padding: 0;
    border-radius: 0 0.6rem 0.6rem 0;
}

.ItemCountSubmit{
    display: flex;
    background: #e25a00;
    margin: auto;
    width: 100%;
    min-width: fit-content;
    padding: .3rem;
    margin-top: .5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.6rem;
}

.ItemCountSubmit:hover{
    background: #c0392b;
    color: white;
}

.ItemCountIncreaseBtn:active, .ItemCountDecreaseBtn:active, .ItemCountSubmit:active{
    background: #43140f ;
}

#NoStockToast{
    max-height: 5rem;
    max-width: 18rem;
    margin-left: 1rem;
    text-align: center;
    background-color: #FEA8A8;
    border-radius: 1rem;
    font-style: oblique;
}

#ItemDetailGoToCartBtn{
    border-radius: 0.6rem;
    font-weight: 500;
    text-transform: none;
}